/* colors: #717499, #1D202A, #f2f0f0, #7E93B9*/
:root {
    font-size: 16px;
    font-family: 'Barlow', Arial, Helvetica, sans-serif;
    --text-primary: #f2f0f0;
    --text-secondary: #7E93B9;
    --bg-primary: black;
    --bg-secondary: #1D202A;
    
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.5rem
}

body::-webkit-scrollbar-track{
    background:var(--bg-primary);
}

body::-webkit-scrollbar-thumb{
    background: var(--text-secondary);
}

.navbar-nav a{
    color: var(--text-primary);
    margin: 0 15px;
}

.nav-link a{
    display: flex;
    align-items: center;
    color: var(--text-primary);
    text-decoration: none;
}

.navbar-nav a:hover{
    color: var(--text-secondary);
}


/* home/index */

.jumbotron{
    background-color: var(--bg-primary);
    height: 65vh;
    margin-top: 5%;
    background-repeat:no-repeat;
    background-position: center center;
    color: var(--text-primary);
}


.name-title {
    text-align: center;
}

.name-title h1{
    color: var(--text-secondary);
    font-weight: bold;
}

.quick-contacts{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.quick-contacts li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
    font-size: 10pt;
}

.quick-contacts li a{
    color: var(--text-primary);

}

.quick-contacts li a:hover{
    color: var(--text-secondary);
    text-decoration: none;
}

/* ABOUT PAGE */

/* #about {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15%;
    
}

#profile-picture img{
    display: block;
    height: 350px;
    max-width: 80%;
    float: left;
    padding-top: 50px;
    border-radius: 5px;
}

.about-me-paragraph{
    border: 3px solid var(--text-secondary);
    background-color: var(--text-secondary);
    padding: 10px;
    border-radius: 5px;  
}

#about-me-paragraph h5{
    padding-top: 20px;
} */

#profile-picture{
    height: 350px;
    max-width: 80%;
    padding-top: 50px;
    border-radius: 5px;
    text-align: center;
}

#resume{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#resume a{
    text-align: center;
    padding: 10px;
    color: var(--text-secondary);
    border: 3px solid var(--text-secondary);
    background-color: var(--bg-secondary);
    padding: 10px 40px;
}

#resume a:hover{
    text-decoration: underline;
    color: var(--text-primary);
}

/* philosophy page */

/* #philosophy{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15%;
}

.philosophy-subheader {
    padding: 10px 30px;
    color: #f2f0f0;
    background-color:#1D202A;
    margin: 40px;
    height: 45%;
}

#philosophy p{
    margin: 0 0 30px;
    height: 100px;
    padding-top: 30px;
} */

#library-picture{
    height: 350px;
    max-width: 80%;
    padding-top: 50px;
    border-radius: 5px;
    text-align: center;
}

.tenets{
    text-align: center;
    vertical-align: center;
}

/* works page */

.collection {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15%;
}

.works-subheader{
    color: var(--text-primary);
    background-color: var(--bg-secondary);
    height: 45%;
    margin: 40px;
}

.collection img{
    width: 75%;
    height: 75%;
    border: 3px solid #7E93B9;
}

.collection img:hover{
    transform: scale(1.25);
}

/* contact page */

#contact{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15%;
}

.form-left {
    padding-top: 20px;
}

.form-left form input {
    display: block;
    float: left;

}

.form-right {
    padding-top: 20px;
}

input{
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 0;
    border-bottom: 2px solid #1D202A;
    width: 100%;
}

.form-message textarea {
    width: 100%;
    padding: 15px;
    position: relative;
    border-bottom: 2px solid #1D202A;
}

.button button{
    text-decoration: none;
    padding: 10px;
    color: #1D202A;
    border: 2px solid #1D202A;
    background-color: #f2f0f0;
}

.button button:hover{
    color: #f2f0f0;
    background-color: #1D202A;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    text-align: center;
    vertical-align: center;
    line-height: 20px;
    height: 20px;
    font-size: 8pt;
    z-index: 1;
}

/*#footer div{
    padding-top: 4px;
    text-align: center;
}
